body {
  background-color: black;
}
h1
{
  color: pink;
  tewt-align: center;
  font-family: Simplified;
}
p
{
  color: white;
  text-align: center;
  font-family: Simplified;
}
a
{
  text-align: center;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }
